@font-face {
    font-family: Recoleta;
    src: url("/resources/fonts/Recoleta\ Regular.otf") format("opentype");
}

@font-face {
    font-family: Recoleta;
    font-weight: bold;
    src: url("/resources/fonts/Recoleta\ SemiBold.otf") format("opentype");
}


body {
    font-family: 'Recoleta', cursive;
    font-size: 18px;
    padding: 0 !important;
}

.nav-item .nav-link{
    text-transform: uppercase;
    white-space: nowrap;
}

.nav-item.active .nav-link span
{
    color: #C7D2EF !important;
    border-bottom: 2px solid #4769b4;
}

.nav-item .nav-link span{
    color: #4769b4 !important;
}

.nav-item.title .nav-link{
    margin-top: -15px;
}

.navbar-brand{
    width: 160px;
    transform: translateX(15px);
}

.page-wrapper{
    min-height: 100%;
    width:100%;
    background-image: url('/resources/images/aboutus.png');
    background-position: center bottom;
    background-size: 100vmax;
    background-repeat: no-repeat;
    background-color: #010C2C;
}

.carousel-item{
    min-height: 300px;
}

.beer-image{
    width: 120%;
    margin-left: -8%;
    margin-bottom: -1.5rem;
}

#rae .media-body{
    color: #5482AA;
}

#findus {
    background-color: #010C2C;
}

#shops-map{
    padding-bottom: 50%;
    width: 100%;
    background-color: #4769b4;
}

.contact-us{
    color: white;
}

#followus,
#followus h3 {
    background-color: #9EBAC5;
    color: #071228;
}

.gallery-image{
    padding-bottom: 100%;
    width: 100%;
    background-color: #4769b4;
}

#contactus{
    background-color: #07578D;
}

.footer{
    color: #A1BDC8;
}

.footer-logo{
    font-size: 46px;
    color: white;
    font-weight: bold;
}

.footer > div {
    white-space: nowrap;
}